<!-- <?xml version="1.0" encoding="utf-8"?> -->
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="rover_assembly_urdf">
  <plugin filename="gz-sim-sensors-system" name="sensors_system"></plugin>
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.0995493291128925 -0.000379326476322777 -0.127506931768041"
        rpy="0 0 0" />
      <mass
        value="3.82645965067703" />
      <inertia
        ixx="0.0182359318821782"
        ixy="-1.66336102014158E-07"
        ixz="-9.47682530438081E-05"
        iyy="0.0300845157364661"
        iyz="6.11441670624201E-08"
        izz="0.0371542337688629" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rover_assembly_urdf/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rover_assembly_urdf/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="front_left_wheel">
    <inertial>
      <origin
        xyz="0.000391336404285514 -0.0365766414011693 0.000187700783118083"
        rpy="0 0 0" />
      <mass
        value="0.651042416095026" />
      <inertia
        ixx="0.00298936177294947"
        ixy="-8.42512305234435E-10"
        ixz="-3.96454233288125E-09"
        iyy="0.00459449507509991"
        iyz="8.32696088605818E-10"
        izz="0.0029893585151179" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rover_assembly_urdf/meshes/front_left_wheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rover_assembly_urdf/meshes/front_left_wheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="front_left_joint"
    type="continuous">
    <origin
      xyz="0.33182 0.3735 -0.31825"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="front_left_wheel" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="front_right_wheel">
    <inertial>
      <origin
        xyz="0.000391293455739572 0.0365401507885555 0.000187689861680551"
        rpy="0 0 0" />
      <mass
        value="0.65081338939207" />
      <inertia
        ixx="0.00298720054852065"
        ixy="1.30202836540033E-09"
        ixz="-3.88990953272823E-09"
        iyy="0.00459334541330057"
        iyz="-1.4624186480432E-09"
        izz="0.00298719733260163" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rover_assembly_urdf/meshes/front_right_wheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rover_assembly_urdf/meshes/front_right_wheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="front_right_joint"
    type="continuous">
    <origin
      xyz="0.33182 -0.3735 -0.31825"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="front_right_wheel" />
    <axis
      xyz="0 -1 0" />
  </joint>
  <link
    name="rear_left_wheel">
    <inertial>
      <origin
        xyz="4.25361968262594E-05 -0.036576641772875 -0.000431932823001135"
        rpy="0 0 0" />
      <mass
        value="0.651042417400194" />
      <inertia
        ixx="0.00298936144419571"
        ixy="1.10925964504801E-09"
        ixz="4.06898479805536E-09"
        iyy="0.00459449507973379"
        iyz="5.52839651471255E-10"
        izz="0.00298935890260606" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rover_assembly_urdf/meshes/rear_left_wheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rover_assembly_urdf/meshes/rear_left_wheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rear_left_joint"
    type="continuous">
    <origin
      xyz="-0.40525 0.4155 -0.31785"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="rear_left_wheel" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="rear_right_wheel">
    <inertial>
      <origin
        xyz="4.25409504680174E-05 0.0365401567368097 -0.000431889728876034"
        rpy="0 0 0" />
      <mass
        value="0.650813394078346" />
      <inertia
        ixx="0.00298720017365453"
        ixy="-1.58669881900365E-09"
        ixz="3.98243205522859E-09"
        iyy="0.00459334541101721"
        iyz="-1.20465141762546E-10"
        izz="0.00298719767791102" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rover_assembly_urdf/meshes/rear_right_wheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rover_assembly_urdf/meshes/rear_right_wheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rear_right_joint"
    type="continuous">
    <origin
      xyz="-0.40525 -0.4155 -0.31785"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="rear_right_wheel" />
    <axis
      xyz="0 -1 0" />
  </joint>
  <!-- Camera Link for Gazebo Simulation -->
  <link name="camera_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.025 0.09 0.025"/>
      </geometry>
      <material name="camera_material">
        <color rgba="0.2 0.2 0.2 1"/>
      </material>
    </visual>
  </link>
  <!-- Camera Joint to attach to base_link -->
  <joint name="camera_joint" type="fixed">
    <parent link="base_link"/>
    <child link="camera_link"/>
    <origin xyz="0.3 0 0.1" rpy="0 0 0"/>
  </joint>
  <!-- Gazebo Differential Drive Plugin (replaces motor driver) -->
  <gazebo>
    <plugin name="diff_drive" filename="gz-sim-diff-drive-system">
      <left_joint>front_left_joint</left_joint>
      <right_joint>front_right_joint</right_joint>
      <wheel_separation>0.831</wheel_separation>
      <wheel_diameter>0.13</wheel_diameter>
      <max_wheel_torque>20</max_wheel_torque>
      <max_wheel_acceleration>1.0</max_wheel_acceleration>
      <publish_odom>true</publish_odom>
      <publish_odom_tf>true</publish_odom_tf>
      <publish_wheel_tf>false</publish_wheel_tf>
      <odometry_frame>odom</odometry_frame>
      <robot_base_frame>base_link</robot_base_frame>
    </plugin>
  </gazebo>
  <!-- Gazebo IMU Sensor (replaces MPU6500) -->
  <gazebo reference="base_link">
    <sensor name="imu_sensor" type="imu">
      <always_on>true</always_on>
      <update_rate>100</update_rate>
      <plugin filename="gz-sim-ros-imu-system" name="imu_plugin">
        <ros>
          <remapping>~/out:=/imu/data_raw</remapping>
        </ros>
        <initial_orientation_as_reference>false</initial_orientation_as_reference>
      </plugin>
    </sensor>
  </gazebo>
  <!-- Gazebo Depth Camera Plugin (replaces RealSense D435) -->
  <gazebo reference="camera_link">
    <sensor type="depth" name="realsense_d435">
      <update_rate>30.0</update_rate>
      <camera>
        <horizontal_fov>1.5184</horizontal_fov>
        <image>
          <width>640</width>
          <height>480</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.1</near>
          <far>10.0</far>
        </clip>
      </camera>
      <plugin name="camera_plugin" filename="gz-sim-ros-camera-system">
        <ros>
          <remapping>~/image_raw:=/camera/color/image_raw</remapping>
          <remapping>~/depth/image_raw:=/camera/aligned_depth_to_color/image_raw</remapping>
          <remapping>~/camera_info:=/camera/color/camera_info</remapping>
        </ros>
        <camera_name>camera</camera_name>
        <frame_name>camera_link</frame_name>
      </plugin>
    </sensor>
  </gazebo>
</robot>